body {
    background-color: aqua;
    font-weight: bold;
}

header {
    background-color: purple;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 5vw;
    margin: 0;

}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    width: 100vw;
    height: 5vw;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;

}

.search-history {
    width: 20%;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.list-group {
    display: flex;
    flex-direction: column;
}


.five-day {
    display: flex;
    justify-content: space-evenly;
}